{%- extends 'reveal/index.html.j2' -%}

{%- block html_head_css -%}
  {{ super() }}
  <style type="text/css">
	#custom-header {
	  background-image: url("ssc-logo.svg") !important;
	  background-repeat: no-repeat !important;
	  background-size: auto 100% !important;
	  background-position: right 10px top 0px !important;
	  float: left;
	  height: 50px;
	  width: 100%;
	  background: #333;
	  z-index: 1;
	  margin: 0;
	  padding: 0;
	  font-size: 24px;
	  line-height: 30px;
	  color: #fff;
	}

	#custom-header ul {
	  margin: 0;
	  padding: 0;
	}

	#custom-header ul li {
	  list-style-type: none;
	  display: inline;
	}

	#custom-header li b {
	  display: block;
	  float: left;
	  color: #fff;
	  padding: 10px 20px;
	  border-right: 1px solid #fff;
	}

	#custom-header li a {
	  display: block;
	  float: left;
	  padding: 10px 20px;
	  color: #fff;
	  text-decoration: none;
	  border-right: 1px solid #fff;
	  z-index: 1;
	}

	#custom-header li a.active {
	  color: #000;
	  background-color: #f9f9f9;
	}

	#custom-header li a:hover {
	  background-color: #888;
	}

	#custom-header li a.active:hover {
	  background-color: #f9f9f9;
	}
  </style>
{%- endblock html_head_css -%}

{%- block body_header -%}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
<main>
<div class="reveal">
<div id="custom-header">
<ul>
<li><a href='https://ssciwr.github.io/jupyter-data-exploration'><b>SSC Jupyter Data Exploration</b></a></li>
<li><a href='https://ssciwr.github.io/jupyter-data-exploration/jupyter-python-intro.html'>Part 1</a></li>
<li><a href='https://ssciwr.github.io/jupyter-data-exploration/pandas-toy-data.html'>Part 2</a></li>
<li><a href='https://ssciwr.github.io/jupyter-data-exploration/pandas-real-data.html'>Part 3</a></li>
</ul>
</div>
<div class="slides">
{%- endblock body_header -%}
