{%- extends 'reveal/index.html.j2' -%}

{%- block body_header -%}
<body class="jp-Notebook" data-jp-theme-light="true" data-jp-theme-name="JupyterLab Light">
<main>
<div class="reveal">
<div id="ssc-header" style="position: absolute; top: 0; width: 100vw; height: 7vh;">
<div style="position: absolute; left: 0; margin: 0px; z-index: 1; font-size: 3.2vh;">
<p>&nbsp;
<a href='https://github.com/ssciwr/jupyter-data-exploration'>Home</a> |
<a href='https://ssciwr.github.io/jupyter-data-exploration'>Part 1</a> |
<a href='https://ssciwr.github.io/jupyter-data-exploration/pandas-toy-data.slides.html'>Part 2</a> |
<a href='https://ssciwr.github.io/jupyter-data-exploration/pandas-real-data.slides.html'>Part 3</a>
</p>
</div>
<img src="ssc-logo.svg" style="position: absolute; right: 0; margin: 5px;"/>
</div>
<div class="slides">
{%- endblock body_header -%}
