name: CI

on: push

jobs:

  test-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - run: pip install -r requirements.txt
      - run: jupyter execute *.ipynb

  test-conda:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -leo pipefail {0}
    steps:
      - uses: actions/checkout@v6
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
      - run: jupyter execute *.ipynb

  slides:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - run: pip install -r requirements.txt
      - run: jupyter nbconvert *.ipynb --config jupyter_nbconvert_config.py
      - run: mv *.html *.ipynb dist/.
      - uses: actions/upload-pages-artifact@v4
        with:
          path: "dist/"

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: slides
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
